@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('NanumBarunGothic.eot');
  src: url('NanumBarunGothic.woff2') format('woff2'),
       url('NanumBarunGothic.woff') format('woff'),
       url('NanumBarunGothic.ttf') format('truetype'),
       url('NanumBarunGothic.eot?#iefix') format('embedded-opentype');
  font-weight:bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothicBold';
  src: url('NanumBarunGothicBold.eot');
  src: url('NanumBarunGothicBold.woff2') format('woff2'),
       url('NanumBarunGothicBold.woff') format('woff'),
       url('NanumBarunGothicBold.ttf') format('truetype'),
       url('NanumBarunGothicBold.svg#NanumBarunGothicBold') format('svg'),
       url('NanumBarunGothicBold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}
